/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

@font-face{

font-family: 'DINCyr';

src: url('fonts/dincyr-regular.eot?iefix') format('embeddet-onetype'),

	url('fonts/dincyr-regular.woff') format('truetype'),

	url('fonts/dincyr-regular.otf') format('onetype'),

	url('fonts/dincyr-regular.ttf') format('truetype');

font-weight: normal;

font-style: normal;

}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background: url(../img/bg-body.jpg) repeat 0 0;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	display: block;
	height: 200px;
	position: relative;
}
.header .logo{
	display: block;
	position: absolute;
	top: 44px;
	left: 0;
}
.header .logo img{
	display: block;
	width: 102px;
	height: auto;
}
.header .phone{
	position: absolute;
	right: 0;
	top: 58px;
	font-size: 30px;
	line-height: 26px;
	text-decoration: none;
	color: #707070;
	font-family: "DINCyr", Arial, Helvetica, sans-serif;
}
.header .phone-code{
	display: block;
	font-size: 18px;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
	
}
h2 {
	font-size: 18px;
	line-height: 38px;
	font-family: "DINCyr", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
h1 {
	font-size: 40px;
	line-height: 38px;
}
.columns div{
	display:inline-block;
	width: 200px;
}

.paragraph p{
	margin-top: 0.5em; /* Отступ сверху */
	margin-bottom: 1em; /* Отступ снизу */
	font-family: "DINCyr", Arial, Helvetica, sans-serif;	
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	font-size: 40px;
	line-height: 43px;
}

.left-sidebar a{
	text-decoration: none;
	color: #363636;
	font-family: "DINCyr", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
    padding: 2px; 
   }
.left-sidebar a:visited {
	color: #363636;
}
.left-sidebar a:hover {
    text-decoration: none; 
    color: #fff;   
    background: #707070; 
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	display: block;
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	position: relative;
	border-top: 1px solid #707070;
	border-color: rgba(0,0,0,0.3); 
	font-family: "DINCyr", Arial, Helvetica, sans-serif;
	color: #707070;	
}

.footer .copyright-info {
	display:inline-block;
	width: 100px;	
}
.footer .link-info{
	display:inline-block;
}
.footer a{
	text-decoration: none;
	color: #707070;
}